<launch>
  <node name="object_detector" pkg="object_detector" type="camera_object_detector_node" output="screen">
    <param name="scan_width" value="4" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
    <param name="rotated" value="false" />

    <rosparam command="load" file="$(find object_detector)/config/home.yaml" />
    <!-- <rosparam command="load" file="$(find object_detector)/config/home.yaml" /> -->

    <remap from="usb_cam/image_raw" to="camera0/compressed" />
  </node>
</launch>
